<header>
<div class="firstblock">
  <div class="name">
    <h1>Kristina Kuksenko</h1>
    <h2>Developer</h2>
  </div>
  <div class="picture">
    <sup>Follow your heart.</sup>
  </div>
</div>
<div class="hamburger_menu">
  <input id="menu_toggle" type="checkbox" />
  <label class="menu_btn" for="menu_toggle">
    <span></span>
  </label>

  <ul class="menu_box">
    <li><a class="menu_item" href= "#aboutme">About me</a></li>
    <li><a class="menu_item" href= "#myskills">My skills</a></li>
    <li><a class="menu_item" href="#myprojects">My projects</a></li>
    <li><a class="menu_item" href="#mycontacts">My contacts</a></li>
  </ul>

</div>
<nav>
  <ul>
    <li><a href= "#aboutme">About me</a></li>
    <li><a href= "#myskills">My skills</a></li>
    <li><a href="#myprojects">My projects</a></li>
    <li><a href="#mycontacts">My contacts</a></li>
  </ul>
</nav>
</header>