<mainTa>
  <div class="tabl mtb-3">
    <h6><b>My plans</b></h6>
    <hr class="table-resp">
    <table class="t">
      <thead>
      <tr>
        <th>#</th>
        <th>Day</th>
        <th>Study</th>
        <th>Plans</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Monday</td>
        <td>8:20-15:00</td>
        <td>Studying</td>

      </tr>
      <tr>
        <td>2</td>
        <td>Tuesday</td>
        <td>-</td>
        <td>Labs</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Wednesday</td>
        <td>8:20-11:30</td>
        <td>Studying</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Thursday</td>
        <td>8:20-18:30</td>
        <td>Studying</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Friday</td>
        <td>11:40-15:00</td>
        <td>Studying</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Saturday</td>
        <td>-</td>
        <td>Labs</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Sunday</td>
        <td>-</td>
        <td>Labs</td>
      </tr>
      </tbody>
    </table>
    </hr>

  </div>
</mainTa>