<mainTodo>

  <div id="myDIV" class="hea">
    <h2>My ToDo List</h2>
    <input type="text" id="myInput" placeholder="Add item...">
    <span onclick="newElement()" class="addBtn"><b>Add</b></span>
  </div>

  <ul id="myUL">
  </ul>
</mainTodo>