<reg>
  <center><button onclick="show('block')" class="redButton"> <h3><b>Register</b></h3></button></center>
  <div onclick="show('none')" id="gray"></div>
  <div id="window">
    <img class="close" src="close.png" alt="">
    <div class="form">
      <h1>Login</h1>
      <form action="../register.hbs" name="f1">
        <input type="text" placeholder="Name" name="name1" class="input">
        <input type="text" placeholder="Surname" name="name2" class="input">
        <input type="email" placeholder="Email" name="email1" class="input">
        <input type="email" placeholder="Confirm email" name="email2" class="input">
        <input type="password" placeholder="Password" name="pass1" class="input">
        <input type="password" placeholder="Confirm password" name="pass2" class="input">
        <input type="phone" placeholder="Phone number" name="phone" class="input">
        <input type="radio" name="gender1"> Man <input type="radio" name="gender1" class="radio"> Woman
        <input type="submit" value="Register" name="sub"class="input"> <h4>By clicking "Register", you confirm that you have read and agree to our Terms of Use and Privacy Policy.</h4>
      </form>
    </div>
  </div>
</reg>