<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Мое резюме</title>
    <link rel="stylesheet" href="outline.css">
    <script src="./css/prog.js"></script>
</head>

<body>
{{>header}}
{{>main}}
{{>footer}}
</body>
</html>