<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoadingTime</title>
    <link rel="stylesheet" href="outline.css">
    <link rel="stylesheet" href="entities.css">
    <script src="./css/prog.js"></script>

</head>
{{>ld serverTime = serverTime}}
</html>