<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodeSnippet</title>
    <link rel="stylesheet" href="outline.css">
    <link rel="stylesheet" href="entities.css">

</head>
{{>snippetM}}
</html>