<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plans</title>
    <link rel="stylesheet" href="outline.css">
    <link rel="stylesheet" href="entities.css">

</head>
{{>mainTa}}
</html>